@font-face {
  font-family: 'Departure Mono';
  src: url('/DepartureMono-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Departure Mono', monospace;
  }
}